body{
    background-image: linear-gradient(to right,#ffffff, #ccd4ff)
}

.navbar{
    background: #242e50!important;
    padding: 10px; /* Espaciado interno de la barra de navegación */
    position: fixed; /* Fija la barra en la parte superior de la página */
    top: 0; /* La barra se fija en la parte superior */
    width: 100%;
    z-index: 2;
    .nav-link, .navbar-brand{
        color: aliceblue!important;
    }
}

.call{
    background-color: #E36397;
    border: none;
}

.icon-lg {
    font-size: 4em;
}

.card-collection{
    justify-content: space-around;
}

.services{
    background-image: linear-gradient(to bottom,#ffffff, #ccd4ff);
    border: none;
    text-align: center;
    color: #202020;
    width: 32%;
}

.featurette{
    display: flex;
    align-items: center;
}
.btn-secondary{
    border:0;
    background-color: #E36397;
}